<ion-header>
  <ion-toolbar>
    <ion-title align="center">Mes documents</ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <ion-segment value="all" scrollable="true" mode="md" color="secondary">
    <ion-segment-button value="all">Tous</ion-segment-button>
    <ion-segment-button value="lettres">Lettres</ion-segment-button>
    <ion-segment-button value="Devis">Devis</ion-segment-button>
    <ion-segment-button value="Factures">Factures</ion-segment-button>
    <ion-segment-button value="Rappels">Rappels</ion-segment-button>
    <ion-segment-button value="test">Rappels</ion-segment-button>
  </ion-segment>
</ion-toolbar>
