<ion-header>
  <ion-toolbar>
    <ion-title align="center">Créer un document</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed align="center">
    <ion-row>
      <ion-col size="12">
        <h1>Quel type de document voulez-vous créer?</h1>
      </ion-col>
      <ion-col size="12">
        <ion-list>
          <ion-col size="12">
            <ion-button expand="block" color="primary">Lettre</ion-button>
          </ion-col>
          <ion-col size="12">
            <ion-button expand="block" color="secondary">Devis</ion-button>
          </ion-col>
          <ion-col size="12">
            <ion-button expand="block" color="tertiary">Facture</ion-button>
          </ion-col>
          <ion-col size="12">
            <ion-button expand="block" color="primary">Rappels</ion-button>
          </ion-col>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
